@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro&display=swap');
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.App {
  text-align: center;
  background-color: #ffffff;
  padding: 3% 0px;
  margin: 0px;
}
.Footer {
  position:flex;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: #FFFFFF;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  border-top: 2px solid black;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.MyProgram {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  color: #000000;
  margin: 25px;
}
.MyName {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
}
.AboutMe {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  color: black;
  margin: 50px;
  margin-left: 25%;
  margin-right: 25%;
}
.ContactWidgets {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.ContactWidgets .EmailButton {
  display: flex;
  position: relative;
  top: 5px;
}
#email-hover-tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: grey;
  border: 1px solid #000000;
  padding: 10px 7.5px;
}
#email-copy-tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: grey;
  border: 1px solid #000000;
  padding: 10px 35px;
}
#email-button {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
}
#email-button:hover {
  color: #000000;
  background-color: #CDCDCD;
  border-color: #000000;
}
#email-button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}
#social-icon {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 36px;
}
#program-link {
  color: #000000;
  text-decoration: none;
}
.ResumeTitle {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  color: #000000;
  margin-top: 75px !important;
  margin: 25px;
}
.ResumeDisplay {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1.5%;
  margin-bottom: -40px !important;
}
.DownloadButtons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ResumeButton {
  color: #000000;
  border-color: #000000;
}
.ResumeButton #resume-icon {
  color: #000000;
}
.ResumeButton #resume-button {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
}
.ResumeButton #resume-button:hover {
  color: #000000;
  background-color: #CDCDCD;
  border-color: #000000;
}
.ResumeButton #resume-button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}
.PortfolioTitle {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  color: #000000;
  margin-top: 100px !important;
  margin: 25px;
}
.PortfolioWidgets {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
#github-pin-custom {
  width: 445px;
  height: 192px;
}