/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro&display=swap'); */
.App {
  text-align: center;
  background-color: #ffffff;
  padding: 3%;
  margin: 0px;
}
/* .MyName {
  /* font-family: 'Lato', sans-serif; */
  font-size: 48px;
}
.ContactWidgets {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.ContactWidgets .EmailButton {
  display: flex;
  position: relative;
  top: 5px;
}
#email-hover-tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: grey;
  border: 1px solid #000000;
  padding: 5px 20.5px;
}
#email-copy-tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: grey;
  border: 1px solid #000000;
  padding: 5px 12px;
}
#email-button {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
}
#email-button:hover {
  color: #000000;
  background-color: #CDCDCD;
  border-color: #000000;
}
#social-icon {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 36px;
} */
